/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: url('./assets/img/1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.titulo {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navegación */
nav {
    background-color: rgba(1, 155, 78, 0.61);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
.card {
    background-color: lightslategrey;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid rgb(40, 63, 1);
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px black;
}

.banner2 {
    background-color: darkolivegreen;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.video {
    width: 100%;
}

.titulo__video {
    font-size: 1.5rem;
    margin-top: 20px;
}

.descripcion__video {
    font-size: 1rem;
    padding-bottom: 25px;
}

/* Footer */
footer {
    text-align: center;
    background-color: lightslategray;
    padding: 20px 0;
}

